// FOOTER
footer#footer
    .container
        .row
            .col-md-3
                // Footer Logo
                h4.letter-spacing-1.text-uppercase Diana Cosmetology
                // Small Description
                p Всё для мезотерапии, биоревитализации и контурной пластики.
                // Contact Address
                address
                    ul.list-unstyled
                        li.footer-sprite.address
                            | Красный проспект 79/1,
                            br
                            | 								Офис 418
                            br
                            | 								Россия, Новосибирск
                            br
                        li.footer-sprite.phone
                            | Тел/WhatsApp:
                            a(href='tel:+79139043917') +7 (913) 904-39-17
                        li.footer-sprite.email
                            a(href='mailto:info@diana.su') info@diana.su
                // /Contact Address
            .col-md-3
                // Latest Blog Post
                h4.letter-spacing-1 ПОСЛЕДНИЕ НОВОСТИ
                ul.footer-posts.list-unstyled
                    li
                        a(href='#') Открытие офиса в Новостибирске!
                        small 01 Сентября 2016
                    li
                        a(href='#') Скидки 10% весь сентябрь!
                        small 01 Сентября 2016
                // /Latest Blog Post
            .col-md-2
                // Links
                h4.letter-spacing-1 САЙТ
                ul.footer-links.list-unstyled
                    li
                        a(href='#') Главная
                    li
                        a(href='#') Каталог
                    li
                        a(href='#') Новости
                    li
                        a(href='#') Контакты
                // /Links
            .col-md-4
                // Newsletter Form
                h4.letter-spacing-1 ОСТАВАЙТЕСЬ НА СВЯЗИ!
                p
                    | Новинки, акции и скидки - всё в нашей email рассылке! Не упускайте ни одной возможности!
                form#mc-embedded-subscribe-form.validate(action='//diana.us14.list-manage.com/subscribe/post?u=23612c972951a008f00549046&id=736326c324', method='post', data-success='Subscribed! Thank you!', data-toastr-position='bottom-right', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    .input-group
                        span.input-group-addon
                            i.fa.fa-envelope
                        input#mce-EMAIL.form-control.required(type='email', name='EMAIL', placeholder='Введите email и нажмите>')
                        #mce-responses.clear
                            #mce-error-response.response(style='display:none')
                            #mce-success-response.response(style='display:none')
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style='position: absolute; left: -5000px;', aria-hidden='true')
                            input(type='text', name='b_23612c972951a008f00549046_736326c324', tabindex='-1', value='')
                        span.input-group-btn
                            button#mc-embedded-subscribe.btn.btn-success(type='submit') Подписаться
                // /Newsletter Form
                // Social Icons
                .margin-top-20
                    a.social-icon.social-icon-border.social-instagram.pull-left(href='http://instagram.com/diana_cosmetology', data-toggle='tooltip', data-placement='top', title='Instagram')
                        i.icon-instagram2
                        i.icon-instagram2
                    a.social-icon.social-icon-border.social-facebook.pull-left(href='https://www.facebook.com/DianaCosmetology', data-toggle='tooltip', data-placement='top', title='Facebook')
                        i.icon-facebook
                        i.icon-facebook
                    a.social-icon.social-icon-border.social-twitter.pull-left(href='http://twitter.com/diana_cosmeto', data-toggle='tooltip', data-placement='top', title='Twitter')
                        i.icon-twitter
                        i.icon-twitter
                    a.social-icon.social-icon-border.social-youtube.pull-left(href='#', data-toggle='tooltip', data-placement='top', title='YouTube')
                        i.icon-youtube
                        i.icon-youtube
                // /Social Icons
    .copyright
        .container
            | © 2016, Диана Косметология
// /FOOTER
